/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*
canvas,#left-coln,#right-coln,#info,#editor{ border:1px solid black;
  padding:1px;
  margin:1px;
}*/

#left-coln { position:absolute;  width:48%; left: 1%; height:96%; top:2%;}
#right-coln  { position:absolute;  width:48%; left:51%; height:96%; top:2%;}
#buttons {position:absolute; width:100%;}
#variableInfo{margin-top:1em;}
button.btn {margin-right:4px;}

canvas{width:99%;height:99%;}
body{background-color:#eef;}
.CodeMirror { border: 1px solid #ddd; }
.CodeMirror pre { padding-left: 7px; line-height: 1.25; }

#editor .CodeMirror, #editor form { height: 100%; }

#editor.smallErrorBox{height: 80%;}
#errorsBox.smallErrorBox{height: 19%;}
#editor.bigErrorBox{height: 32%;}
#errorsBox.bigErrorBox{height: 67%;}

#errorsBox {
    background-color: #ddf; 
    padding:1em;
    margin-top:1em;
}

#errorsBox pre{
    height: calc(100%  - 2.3em);
}

.popup{
	position:absolute; 
	/*border: 2px solid #ddd; */
	left:20%; width:60%; top:20%; height:60%;
	background-color:#ddd;
	padding:5em;
	border-radius:2em;
	z-index: 9000;
}

.popup * { margin-bottom:.5em;}
.popup h1{text-align: center;font-size:4em;}
.popup button{text-align: center;}
.popup .centered {text-align: center;margin:auto;}
.popup p{font-size:1.4em;}

.popup .closeButton {float:right;}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}